* {margin: 0; padding: 0;}

body {
  background: #a0ceb2;
}

.table {
  width: 340px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -170px 0 0 -170px;
  background: #fff2;
}
.table-half {
  width: 50%;
  height: 100%;
  float: left;
}
.table-left {
  float: left;
}
.table-right {
  float: right;
}

.card {
  /*position: absolute;*/
  width: 120px;
  height: 180px;
  margin: 10px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}
.card-shirt {
  background-color: #a94442;
  width: 114px;
  height: 174px;
  margin: 2px;
  /*position: absolute;*/
  border-radius: 10px;
}
.card p {
  text-align: center;
  font: 80px/180px Georgia, Times New Roman, serif;
}

.test-pult {
  margin-top: 100px;
  height: 50px;
}
.test-button {
  margin: 5px;
  padding: 5px;
}



.button {
  padding: 5px;
}

.game-enter {
  width: 340px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -170px 0 0 -170px;
  background: #fff2;
  text-align: center;
}

.game-welcome-menu {
  float: right;
  padding: 20px;
}

.game-play {
  width: 340px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -170px 0 0 -170px;
  background: #fff2;
  text-align: center;
}

.online-players-list {
  height:400px;
  overflow:auto;
}

.open-games-list {
  height:400px;
  overflow:auto;
}




